FRONTEND_DOMAIN=appizing.hdtech.dev.br
BACKEND_DOMAIN=minhaapi.hdtech.dev.br
LETSENCRYPT_EMAIL=infra@hdtech.dev.br
TZ=America/Sao_Paulo
VUE_URL_API=https://minhaapi.hdtech.dev.br

NODE_ENV=production

BACKEND_URL=https://minhaapi.hdtech.dev.br
FRONTEND_URL=https://appizing.hdtech.dev.br
PROXY_PORT=443
PORT=3000
TIMEZONE=America/Sao_Paulo

DB_DIALECT=postgres
DB_PORT=5432
POSTGRES_HOST=postgres
POSTGRES_USER=izing
POSTGRES_PASSWORD=troque-essa-senha
POSTGRES_DB=izing

JWT_SECRET=gere-uma-chave-forte
JWT_REFRESH_SECRET=gere-outra-chave-forte

IO_REDIS_SERVER=redis
IO_REDIS_PORT=6379
IO_REDIS_DB_SESSION=2
IO_REDIS_PASSWORD=

CHROME_BIN=/usr/bin/google-chrome-stable

MIN_SLEEP_BUSINESS_HOURS=10000
MAX_SLEEP_BUSINESS_HOURS=20000
MIN_SLEEP_AUTO_REPLY=4000
MAX_SLEEP_AUTO_REPLY=6000
MIN_SLEEP_INTERVAL=2000
MAX_SLEEP_INTERVAL=5000

ADMIN_DOMAIN=hdtech.dev.br
